body {
    background-color: rgb(17, 95, 167);
    color: white;
    font-family: Raleway, Arial, Helvetica;
}

label {
    display: block;
}

.button {
    font-size: 0.9em;
    margin-left: 10px;
    padding: 4px 6px;
    color: white;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    display: inline-block;
    cursor: pointer;
}

.options-button {
    
    background-color: #00ccff;
    border-color: cyan;
}

.ojt-button {
    background-color: #ff7300;
    border-color: #ff7300;
}

.ph-button {
    background-color: #44c600;
    border-color: #44c600;
}

.wm-button {
    background-color: #bd4bff;
    border-color: #bd4bff;
}

.sick-button {
    background-color: #ff0000;
    border-color: #ff0000;
}

.ddo-button {
    background-color: #005229;
    border-color: #005229;
}

.options-button:hover {
    background-color: #5edfff;
}

.pay-grade-radio {
    margin-right: 15px;
    display: inline-block;
}

.pay-grade-radio-container {
    grid-column: 2 / 6;
}

.shift-options-shelf {
    grid-column: 1 / 6;
    margin-bottom: 1em;
    color: navy;
    display: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.col-50 {
    flex: 50%;  
}

.grid > h3,
.hr {
    grid-column: 1 / 6;
}

hr {
    border-bottom: none;
    border-top: 1px solid white;
}

.grid-heading {
    font-size: 0.8em;
    text-align: center;
}

.container {
    background-color: #4691db;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: 7px 7px 0px 0px;
    min-width: 370px;
}

.input-container {
    max-width: 400px;
}

.grid {
    display: grid;
    grid-template-columns: 100px auto 50px 50px 45px;
    grid-gap: 3px;
    align-items: center;
}

.time {
    width: 2.5em;
    margin: 2px auto;
    padding: 2px;
}
/*
.day-of-week {
    justify-self: center;
}
*/
.shift-hours {
    justify-self: center;
}

.hr {
    background-color: white;
    height: 1px;
    margin: 8px 0px;
}

.sign-on {grid-column: 3 / 4;}
.sign-off {grid-column: 4 / 5;}

#results-container {
    max-width: 800px;
}

.week-commencing {
    grid-column: 1 / 6;
    display: grid;
    grid-template-columns: auto auto;
    border-color: orange;
    border-radius: 5px;
    border-width: 2px;
    background-color: rgba(255, 166, 0, 0.3);
    padding: 5px;
}

#week-commencing-date {
    grid-column: 1 / 6;
    justify-self: center;
}

#date-button {
    cursor: pointer;
    border-color: #e48100;
    border-width: 2px;
}

li, #totalElement {
    font-family:  Courier, Arial, Helvetica;
}

input[type=text],
input[type=tel] {
    border: none;
    border-radius: 5px;
    padding: 4px;
    text-align: center;
}


@media only screen and (max-device-width: 480px) { 
    input[type=text],
    input[type=tel]  {
        font-size: 1em;
    }
    .ui-datepicker {
        width: 22em !important;
    }
    .ui-datepicker td a,
    .ui-datepicker td span {
        height: 2em !important;
    }
  }