body {
    background-color: rgb(17, 95, 167);
    color: white;
    font-family: Raleway, Arial, Helvetica;
}

label {
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.col-50 {
    flex: 50%;  
}

.grid > h3,
.grid-date,
.hr {
    grid-column: 1 / 5;
}

.grid-date {
    text-align: center;
}

.container {
    background-color: #4691db;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: 7px;
    min-width: 350px;
}

.grid {
    display: grid;
    grid-template-columns: 120px auto 60px 60px;
    grid-gap: 3px;
    padding: 10px;
}

.time {
    width: 4em;
    margin-top: 2px;
    margin-right: 2px;
    padding: 2px;
}

span.time {
    font-size: 0.8em;
    width: 53.3px
}

.day-of-week {
    width: 10em;
}

.hr {
    background-color: white;
    height: 1px;
    margin: 8px 0px;
}

.sign-on {grid-column: 3 / 4;}
.sign-off {grid-column: 4 / 5;}

#results-container {
    max-width: 800px;
}

#week-commencing-date {
    grid-column: 3 / 5;
}

.week-commencing-label {grid-column: 1 / 3;}