body {
    background-color: rgb(17, 95, 167);
    color: white;
    font-family: Raleway, Arial, Helvetica;
}

label {
    display: block;
}

.options-button {
    margin-left: 10;
    padding: 2px 3px 2px 3px;
    color: white;
    border-width: 2px;
    border-radius: 4px;
    display: inline-block;
    background-color: #0094b9;
    border-color: black;
}

.pay-grade-radio {
    margin-right: 15px;
}

.pay-grade-radio-container {
    grid-column: 2 / 6;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.col-50 {
    flex: 50%;  
}

.grid > h3,
.grid-date,
.hr {
    grid-column: 1 / 6;
}

.grid-date {
    text-align: center;
}

.grid-heading {
    font-size: 0.8em;
    text-align: center;
}

.container {
    background-color: #4691db;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: 7px;
    min-width: 370px;
}

.grid {
    display: grid;
    grid-template-columns: 100px auto 50px 50px 35px;
    grid-gap: 3px;
}

.time {
    width: 65%;
    margin: 2px auto;
    padding: 2px;
}

.day-of-week {
    width: 10em;
}

.hr {
    background-color: white;
    height: 1px;
    margin: 8px 0px;
}

.sign-on {grid-column: 3 / 4;}
.sign-off {grid-column: 4 / 5;}

#results-container {
    max-width: 800px;
}

#week-commencing-date {
    grid-column: 3 / 5;
}

.week-commencing-label {grid-column: 1 / 3;}


@media only screen and (max-device-width: 480px) { 
    .time {
        font-size: 1em;
    }
  }